.super-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.grid-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /* Espacio entre filas */
}

.grid-cell {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    margin-right: 10px;
    /* Espacio entre celdas */
    cursor: pointer;
}

.grid-cell:hover {
    background-color: aqua;
}

.button-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}